@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewBag.Title = "Edit";
}

<h2>Editare Task</h2>
<br />

<form method="post" action="/Tasks/Edit/@ViewBag.Task.TaskId">
    @if (ViewBag.Task.UserId == ViewBag.AppUserId || User.IsInRole("Admin"))
    {
        <label>Titlu Task</label>
        <br />

        <textarea name="Name" required>@ViewBag.Task.Name</textarea>
        <br />

        <label>Continut Task</label>
        <br />

        <textarea name="Description" required>@ViewBag.Task.Description</textarea>
        <br />

        <label>Deadline Task</label>
        <input type="date" name="Deadline" min="2023-06-07" max="2030-01-01" required>

    }
    else
    {
        <textarea name="Name" required hidden>@ViewBag.Task.Name</textarea>
        <textarea name="Description" required hidden>@ViewBag.Task.Description</textarea>
        <textarea name="Deadline" required hidden>@ViewBag.Task.Deadline</textarea>
    }

    <label>Status</label>
    <select name="StatusId">

        @foreach (var status in ViewBag.Statuses)
        {
            @if (status.StatusId == ViewBag.StatusId)
            {
                <option selected="selected" value="@status.StatusId">@status.Name</option>
            }
            else
            {
                <option value="@status.StatusId">
                    @status.Name
                </option>
            }
        }

    </select>
    <button class="btn  btn-primary" type="submit">Editeaza taskul</button>
</form>
