@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Edit";
}


<form method="post" action="/Projects/Edit/@ViewBag.Project.ProjectId">

    <label>Titlu articol</label>
    <input type="text" name="Name" value="@ViewBag.Project.Name" />
    <br /><br />

    <label>Continut articol</label>
    <input type="text" name="Description" value="@ViewBag.Project.Description" />
    <br />

    <input type="hidden" name="Date" value="@DateTime.Now" />
    <input type="hidden" name="Deadline" value="@DateTime.Now" />
    <br />

    <select name="TeamId">

        @foreach (var team in ViewBag.Teams)
        {
            if (team.TeamId == ViewBag.Team.TeamId)
            {
                <option selected="selected" value="@team.TeamId">@team.Name</option>
            }
            else
            {
                <option value="@team.TeamId">
                    @team.Name
                </option>
            }
        }

    </select>

    <br /><br />

    <button class="btn btn-success" type="submit">Modifica proiect</button>

</form>