@{
    ViewBag.Title = "Lista proiecte";
}

<h2>@ViewBag.Title</h2>
<br />

<br />
<br />

@foreach (var project in ViewBag.Projects)
{
    @*<p>@project.Name</p>
    <p>@project.Description</p>
    <small>@project.Date</small>
    <small>@project.Deadline</small>
    <a href="/Projects/Show/@project.ProjectId">Vizualizare proiect</a>
    <br />
    <hr />
    <br />*@

    <div class="card">
        <div class="card-header">
            @project.Name
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@project.Description</p>
                <footer class="blockquote-footer"><small>Start Date: @project.Date</small>      <small>Deadline: @project.Deadline</small></footer>
            </blockquote>
            <a href="/Projects/Show/@project.ProjectId" class="btn btn-primary">Vizualizare proiect</a>
        </div>
    </div>
    <br />
    <hr />
    <br />

}
<br />
<a class="btn btn-success" href="/Projects/New">Adauga un nou proiect</a>
<br />