@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* Afisarea unui proiect*@

<style>
    .taskuri {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        padding: 10px;
    }

    .card {
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        height: 250px;
        width: 500px;
        border-radius: 5px;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 2px 30px;
    }
</style>


<body>
    <div class="d-flex justify-content-center">

        <a class="btn btn-outline-success" href="/Projects/Index/">Afisare Proiecte</a>

        <a class="btn btn-outline-success" href="/Teams/Show/@ViewBag.Project.TeamId">Afisare Echipa</a>

    </div>

    <br />

    <div class="card_proiect">

        <div class="card-body">

            <h3 class="card-title text-center">@ViewBag.Project.Name</h3>

            <div class="card-text text-center">@ViewBag.Project.Description</div>

            <div class="d-flex justify-content-between flex-row mt-5">

                @*<div><i class="bi bi-globe"></i> @ViewBag.Category.CategoryName</div>*@

                <span>@ViewBag.Project.Date</span>
                <span>@ViewBag.Project.Deadline</span>

            </div>

        </div>

        <hr />

        @if (ViewBag.Project.UserId == ViewBag.AppUserId || User.IsInRole("Admin"))
        {
            <div class="d-flex flex-row justify-content-between">



            <a class="btn btn-success" href="/Projects/Edit/@ViewBag.Project.ProjectId">Editeaza proiect</a>

            <form method="post" action="/Projects/Delete/@ViewBag.Project.ProjectId">

                <button class="btn btn-danger" type="submit">Sterge proiect</button>

            </form>

            </div>
        }

    </div>

    <br />
    <br />

    @* Afisare task uri impreuna cu butoanele de editare si stergere *@
    <div class="taskuri">
        @foreach (var task in ViewBag.Project.Tasks)
        {
            <div class="card text-center">
                <div class="row">
                    <div class="col-md-2"></div>

                    <div class="col-md-8">

                        <div>
                            <a href="/Tasks/Show/@task.TaskId" class="btn" style="font-size:23px"><b>@task.Name</b></a>
                            <p>@task.Description</p>
                            @foreach (var status in ViewBag.Statuses)
                            {
                                @if (status.StatusId == task.StatusId)
                                {
                                    <button class="btn" style="background-color:@status.Color">@status.Name</button>
                                }
                            }
                            <br />
                            <br />
                            <footer class="blockquote-footer"><small>Start Date: @task.Date</small></footer>
                            <footer class="blockquote-footer"> <small>Deadline: @task.Deadline</small></footer>
                            @*<span>@task.Date</span>
                        <span>@task.Deadline</span>*@
                        </div>
                        
                            <div class="d-flex flex-row justify-content-between">

                                <div>

                                    <a class="btn btn-outline-primary" href="/Tasks/Edit/@task.TaskId"><i class="bi bi-pencil-square"></i>Editeaza</a>

                                </div>

                                @if (ViewBag.Project.UserId == ViewBag.AppUserId || User.IsInRole("Admin"))
                                {
                                    <div>

                                        <form method="post" action="/Tasks/Delete/@task.TaskId">

                                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                                        </form>

                                    </div>
                                }

                            </div>


                    </div>

                    <div class="col-md-2"></div>

                </div>

            </div>
        }
    </div>
    @* Afisarea formularului in care se poate adauga un task *@

    @if (ViewBag.Project.UserId == ViewBag.AppUserId || User.IsInRole("Admin"))
    {
        <div class="container">

            <div class="row">

                <div class="col-md-2"></div>

                <div class="col-md-8">

                    <div class="card1">

                        <form method="post" action="/Tasks/New">

                            <div class="card-body">

                                <input type="hidden" name="ProjectId" value="@ViewBag.Project.ProjectId" />

                                <label>Nume task</label>
                                <br />

                                <textarea class="form-control" name="Name" required></textarea>
                                <br />

                                <label>Continut task</label>
                                <br />

                                <textarea class="form-control" name="Description" required></textarea>
                                <br />
                                <label>Selectati status</label>

                                @*
                            Proprietatea name primeste valoarea CategoryId, si anume id-ul categoriei, fiind atributul care
                            se paseaza catre Controller prin post
                            Proprietatea value are id-ul categoriei si valoarea care se afiseaza in dropdown (numele categoriei)
                            *@

                                <select name="StatusId">

                                    @foreach (var item in ViewBag.Statuses)
                                    {
                                        <option value="@item.StatusId">@item.Name</option>
                                    }

                                </select>
                                <br />
                                <label>Deadline Task</label>
                                <input type="date" name="Deadline" min="2023-06-07" max="2030-01-01" required>
                                <button class="btn btn-success " type="submit">Adauga taskul</button>

                            </div>

                        </form>

                    </div>

                </div>

                <div class="col-md-2"></div>

            </div>

        </div>
    }
</body>