@{
    ViewBag.Title = "Vizualizare echipa";
}

<h2>@ViewBag.Team.Name</h2>

<a class="btn btn-warning" href="/Teams/Edit/@ViewBag.Team.TeamId">Editare</a>
<form method="post" action="/Teams/Delete/@ViewBag.Team.TeamId">
    <button class="btn btn-danger" type="submit">Stergere</button>
</form>


<form method="post" action="/TeamMembers/New">

    <div class="card-body">

        <input type="hidden" name="TeamId" value="@ViewBag.Team.TeamId" />

        <label>Selectare membru</label>

        @*
        Proprietatea name primeste valoarea CategoryId, si anume id-ul categoriei, fiind atributul care
        se paseaza catre Controller prin post
        Proprietatea value are id-ul categoriei si valoarea care se afiseaza in dropdown (numele categoriei)
        *@

        <select name="UserId">

            @foreach (var item in ViewBag.Users)
            {
                <option value="@item.Id">@item.UserName</option>

            }

        </select>
        <br />

        <button class="btn btn-success " type="submit">Adauga membrul</button>

    </div>

</form>


<br />

<br />
<br />

@if (ViewBag.Members != null)
{
    @foreach (var member in ViewBag.Members)
    {
        <p><b>@member.UserName</b></p>


        <form method="post" action="/TeamMembers/Delete/?teamId=@ViewBag.TeamId&userId=@member.Id">
            <button class="btn btn-danger" type="submit">Stergere</button>
        </form>
        <br />
        <hr />
        <br />
    }
}

@if (ViewBag.Projects != null)
{
    @foreach (var project in ViewBag.Projects)
    {
        <p><b>@project.Name</b></p>
        <p>@project.Description</p>
        <a class="btn btn-primary" href="/Projects/Show/@project.ProjectId">Afisare proiect</a>
        <br />
        <hr />
        <br />
    }
}
